<div class="container">
  <header>
    <h1>Sistema de Estoque</h1>
  </header>
  <nav class="navbar">
    <ul>
      <li>
        <a routerLink="/customers" routerLinkActive="active" ariaCurrentWhenActive="page">Clientes</a>
      </li>
      <li>
        <a routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">Produtos</a>
      </li>
      <li>
        <a routerLink="/orders" routerLinkActive="active" ariaCurrentWhenActive="page">Pedidos</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
